#============== Aneufinder configuration file ===============#

[General]
numCPU  =  30 
reuse.existing.files  =  TRUE 

[Binning]
binsizes  =  c(1e+06, 5e+05, 1e+05) 
stepsizes  =  c(1e+06, 5e+05, 1e+05) 
variable.width.reference  =  '/mnt/AchTeraD/Documents/Aneufinder/variable-width-reference/XZ101BICRO73+95.deduplicated.sorted.bam' 
reads.per.bin  =  NULL 
pairedEndReads  =  FALSE 
assembly  =  'hg19' 
chromosomes  =  c('1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','X') 
remove.duplicate.reads  =  TRUE 
min.mapq  =  10 
blacklist  =  '/mnt/AchTeraD/Documents/Aneufinder/blacklist/IMR90-100kb-strict-0.1_0.9985-blacklist.bed.gz' 
reads.store  =  TRUE 
use.bamsignals  =  FALSE 

[Correction]
correction.method  =  'GC' 
GC.BSgenome  =  'BSgenome.Hsapiens.UCSC.hg19' 

[CopyNumberCalling]
method  =  c('dnacopy')
strandseq  =  FALSE 

[CopyNumberCalling_HMM]
eps  =  0.1 
max.time  =  60 
max.iter  =  5000 
num.trials  =  30 
states  =  c('zero-inflation','0-somy','1-somy','2-somy','3-somy','4-somy','5-somy','6-somy','7-somy','8-somy') 
most.frequent.state  =  '2-somy' 
most.frequent.state.strandseq  =  '1-somy' 

[CopyNumberCalling_edivisive]
R  =  10 
sig.lvl  =  0.1 

[Breakpoint_Detection]
confint  =  NULL 
refine.breakpoints  =  FALSE 
hotspot.bandwidth  =  NULL 
hotspot.pval  =  NULL 

[Plotting]
cluster.plots  =  TRUE 
